anaconda3/
data/
videos/
install.sh
*.pth
*.npy
.astropy/
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.nv/
.profile
.pycharm_helpers/
.python_history
.ssh/
.vim/
.viminfo
.wget-hsts
examples.desktop
__pycache__/
yolov3/.github/ISSUE_TEMPLATE/bug_report.md
yolov3/.github/ISSUE_TEMPLATE/feature_request.md
yolov3/.gitignore
yolov3/LICENSE
yolov3/README.md
yolov3/output/
yolov3/data/samples/
yolov3/weights/yolov3.weights
yolov3/weights/yolov3-spp.weights
yolov3/weights/yolov3-tiny.weights
yolov3/weights/darknet53.conv.74
