models/
output/
videos/
pytorch_ssd/
Anaconda3-2019.07-Linux-x86_64.sh
CenterNet.ipynb
*.pth
*__pycache__/
.astropy/
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.nv/
.profile
.pycharm_helpers/
.python_history
.ssh/
.vim/
.viminfo
.wget-hsts
CenterNet/NOTICE
CenterNet/LICENSE
CenterNet/README.md
CenterNet/experiments/
CenterNet/data/
CenterNet/readme/
CenterNet/images/
yolov3/.github/ISSUE_TEMPLATE/bug_report.md
yolov3/.github/ISSUE_TEMPLATE/feature_request.md
yolov3/.gitignore
yolov3/LICENSE
yolov3/README.md
yolov3/results_retrain.txt
yolov3/examples.ipynb
yolov3/runs/
yolov3/output/
yolov3/data/samples/
yolov3/weights/yolov3.weights
yolov3/weights/yolov3-spp.weights
yolov3/weights/yolov3-tiny.weights
yolov3/weights/darknet53.conv.74
